<h2>Cat Form</h2>
<form action="/cats/<%= @cat.id %>" method="post">
  <input type='hidden' name='_method' value=<%= 'PUT' if @cat.persisted? %> >

  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <table bgcolor="c0c0c0">

  <tr align="left"><th><label for="cat_name">Name:</label>
  <td><input name="cat[name]" id="cat_name" type="text" value="<%= @cat.name %>">
  <br>

  <tr align="left"><th><label for="cat_age">Age:</label>
  <td><input name="cat[age]" id="cat_age" type="number" value="<%= @cat.age %>">
  <br>

  <tr align="left"><th><label>Sex:</label>

    <td><input name="cat[sex]" id="cat_sex_m" type="radio" value="M" <%= "checked"          if @cat.sex == "M" %>>
    <label for="cat_sex_m">Male</label>
    <input name="cat[sex]" id="cat_sex_f" type="radio" value="F" <%= "checked"          if @cat.sex == "F" %>>
    <label for="cat_sex_f">Female</label>

    <br>

  <tr align="left"><th><label for="cat_coat_color">Coat color:</label>
  <td><select name="cat[color]">
    <option value="brown"  <%= "selected" if @cat.color == "brown" %>
      >Brown</option>
    <option value="black"  <%= "selected" if @cat.color == "black" %>
      >Black</option>
    <option value="red"    <%= "selected" if @cat.color == "red" %>
      >Red</option>
    <option value="orange" <%= "selected" if @cat.color == "orange" %>
      >Orange</option>
    <option value="blue"   <%= "selected" if @cat.color == "blue" %>
      >Blue</option>
    <option value="yellow" <%= "selected" if @cat.color == "yellow" %>
      >Yellow</option>
    <option value="green"  <%= "selected" if @cat.color == "green" %>
      >Green</option>
  </select>
  <br>

  <tr align="left"><th><label for="cat_birth_date">Birth date:</label>
  <td><input name="cat[birth_date]" id="cat_birth_date" type="date" value=<%=
    @cat.birth_date%> ></input>

  </table>

    <br>

  <input type="submit" value="<%= @cat.persisted? ? 'Edit my cat!' : 'Add my cat!' %>">
</form>
<br>
<a href="/cats/">Back to the cats!</a>