<table>

<tr><th>Name:<td><%= @cat.name %>
<tr><th>Age:<td><%= @cat.age %>
<tr><th>Birth Date:<td><%= @cat.birth_date %>
<tr><th>Color:<td><%= @cat.color %>
<tr><th>Sex:<td><%= @cat.sex %>

</table>

<p><a href="/cats/">Back to the cats!</a></p>