<table>

<tr><th>Name:<td><%= @cat.name %>
<tr><th>Age:<td><%= @cat.age %>
<tr><th>Birth Date:<td><%= @cat.birth_date %>
<tr><th>Color:<td><%= @cat.color %>
<tr><th>Sex:<td><%= @cat.sex %>

</table>

<table>
  <h2> Current Rental Requests </h2>
<p>
  <% @cat.cat_rental_requests.each do |request| %>
  <tr>Start Date
    <%= request.start_date %>
  <p><tr>End Date
    <%= request.end_date %></p>
    <% unless current_user.nil? %>
      <% if request.status == "PENDING" && @cat.user_id == current_user.id %>

      <%= button_to "Approve",
          approve_cat_rental_request_url(request),
          :method => :put %>

      <%= button_to "Deny",
          deny_cat_rental_request_url(request),
          :method => :put %>
      <% end %>
    <% end %>
        <br>
  <% end %>

</p>
</table>

<p><a href="/cats/">Back to the cats!</a></p>