<!DOCTYPE html>
<html>
<head>
  <title>Cats99</title>
</head>
<body>

  <% if current_user %>
  <ul>
      <li>Logged in as: <%= current_user.username %></li>
      <li><%= button_to "Logout", session_url(current_user), :method => :delete %></li>
  </ul>

  <% else %>
    <%= button_to "Login", new_session_url, :method => :get %>
    <%= button_to "Sign Up", new_user_url, :method => :get %>
  <% end %>

<%= yield %>

</body>
</html>
